#footer {
    background-color: black;
    color: white;
    margin-top: 3rem;
}

.interestedText {
    font-size: 2.7rem;
}

.emailText span {
    color: #ffc800;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 0;
}

.footer-icons a {
    text-decoration: none;
    color: white;
    margin-right: 1.1rem;
    font-size: 2rem;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons i {
    transition: color 0.5s ease-in-out;
    font-size: inherit;
}

.footer-icons svg {
    transition: color 0.5s ease-in-out;
    width: 2rem; 
    height: 2rem;
}

.footer-icons i:hover, .footer-icons svg:hover {
    color: #ffc800;
    cursor: pointer;
}

@media screen and (max-width: 575px) {
    .interestedText {
        font-size: 1.5rem;
    }
    
    .emailText {
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    .footer-icons a {
        font-size: 2.5rem;
        margin-top: 0;
    }

    #connectWithMe {
        font-size: 2.3rem;
        margin-bottom: 0;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 576px) {
    .interestedText {
        font-size: 2rem;
    }
    
    .emailText {
        font-size: 1.2rem;
    }
}